In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA
from pandas import DataFrame, Series
import re # regular expressions
#adding graphics
import matplotlib.pyplot as plt
%pylab inline
from pylab import rcParams
from collections import defaultdict
from collections import OrderedDict as od
rcParams['figure.figsize'] = 18, 6
print 'test'

Populating the interactive namespace from numpy and matplotlib
test

In [2]:
#all_df = pd.read_table('balances.csv', sep=',',index_col='Ref_Date') 
all_lic = pd.read_table('business.licences.csv', sep=',') 

#fix the dates
def addyear(x):
    ystr = x[6]+x[7]
    if (ystr>'18') :
        ystr = '19'+ystr
    else :
        ystr = '20'+ystr
    return ystr

def getpostal(postal) :
    return postal[:3]+ postal[4:]
def getarea(po) :
    area = po[:3]
    return area
# get rid of nulls in postal codes
all_lic= all_lic[pd.notnull(all_lic['Licence Address Line 3'])]
all_lic['year']=all_lic["Issued"].map(addyear)
all_lic['postal']=all_lic['Licence Address Line 3'].map(getpostal)
all_lic['area']=all_lic['postal'].map(getarea)
#all_lic['lat']=all_lic["postal"].map(lat)
#all_lic['lng']=all_lic["postal"].map(lng)
print all_lic['postal']

0         M9L1N9
1         M1W2Z4
2         M1V2M1
3         M9W2Z2
4         M9W5E3
5         M4B1P2
6         M1L1M5
7         M1N1R3
8         M1C1L5
9         M5V3B1
10        M5V3B1
11        M1V4B5
12        M1K1E7
13        M4B1P2
14        M5A2R3
15        M5A2R3
16        M8Z1A1
17        M2M3Y2
18        M2M3Y2
19        M1H1A5
20        M1H1A5
21        M8Y1A9
22        M4B2V2
23        M9W5E3
24        M4G3V3
25        M8Y1A9
26        M1M1R4
27        M4G3V3
28        M4G3V3
29        M3K1E2
           ...
144461       M4J
144462       M6P
144463       M8Z
144464       M8Z
144465       M6K
144466       M8Z
144467       M4H
144468       M9L
144469       M3J
144470       M4K
144471       L4C
144472       M5H
144473       M8Z
144474       L5R
144475       M8Z
144476       M8Z
144477       M8Z
144478       M8Z
144479       M4L
144480       M6H
144481       M1C
144482       M3H
144483       L6B
144484       M4K
144485       M5R
144486       L9P
144487       M1G
144488       L6S
144489       V3T
144490       M4L
Name: postal, dtype: object

/Users/ahmed/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (6,7,8,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
cat = all_lic['Category']
d = defaultdict(int)

for c in cat :   
    d[c]+=1

df = DataFrame(d.items(),columns=['category','count'])
indf = df.set_index(['category'])
print indf.shape

cat500up = indf[indf['count']>=500]
cat100_500 = indf[indf['count']>=100]
cat100_500 = cat100_500[cat100_500['count']<500]
cat100down = indf[indf['count']<100]
#print cat500up.shape
#print cat100_500.shape
#print cat100down.shape
#print 
#indf['count'].plot()
#for attrib in d:
#        print attrib
#highcat = cat500up[cat500up['count']>5000]
#highcat.plot

(82, 1)

In [4]:
#Quickly fix the dates by adding 19 and 20


def buildCategory(cat):
    cat_target= all_lic [all_lic['Category']==cat]
   
    #select the fields we want
    target=cat_target[['Operating Name','Issued','year','postal','area']]
    dest='categories/'+cat + '.csv'
    target.to_csv(dest)
    return target

In [5]:
def limit_year(dataset,start=None,end=None,year=None) :

    target = dataset
    if (start is not None):
        print " filtering for start year " + start
        target= target [target['year']>= start]
    if (end is not None) :
        print " filtering for end year " + end
        target = target[target['year']<= end]
    if (year is not None) :
        print " filtering for  year " + year
        target = target[target['year']== year]
    return target

In [45]:
rest2000 = limit_year(buildCategory(cat='EATING ESTABLISHMENT'),year='2004')
print rest2000

 filtering for  year 2004
                                       Operating Name    Issued  year  postal  \
64596                          CHINA FEAST RESTAURANT  01-01-04  2004  M4G2Z8
64669                       CHIN CHYN CHINESE CUISINE  14-01-04  2004  M1P4Y4
64754                  AL-MADINA HALAL PIZZA & BAKERY  23-01-04  2004  M1P2S2
64790                                   TEA POT CHATT  01-01-04  2004  M4X1P8
64791                EL CAMINO BAR RESTAURANT MEXICAN  19-02-04  2004  M6P1Y7
64805                KHAWAJA GHAREEB NAWAZ RESTAURENT  07-01-04  2004  M4L3B4
64811                    FLOWER DRUM RESTAURANT & BAR  16-02-04  2004  M8V1C4
64822                  SANKKAMAM TAKEOUT AND CATERING  12-01-04  2004  M1G3S3
64827                             NIAGARA STREET CAFE  02-03-04  2004  M5V1C9
64851                  STREAMS OF BLESSING FISH SHACK  01-01-04  2004  M5T2M1
64857  EL CAMINO REAL BAR AND RESTAURANT MEXICAN FOOD  20-02-04  2004  M6P1Y7
64871                    CHEF ARTHUR EXPRESS CATERING  01-01-04  2004  M6S3Z2
64872                      UNCLE HARRY'S FISH & CHIPS  01-01-04  2004  M1K1N8
64899                              CASTELO SPORTS BAR  01-01-04  2004  M6E1B8
64901                                  DRAGON DELIGHT  29-03-04  2004  M6J1Y8
64930                                 A & S ROTI SHOP  13-02-04  2004  M1E3E6
64938                                 LUCKY CHINA WOK  01-01-04  2004  M4M1G3
64965                               TAJ COUNTRY STYLE  01-01-04  2004  M1S3V8
64975                                         UMBRELA  05-02-04  2004  M6H1A3
64983                         PARADISE BAY FISH SHACK  12-03-04  2004  M5T2M1
64994                        SUPER CHINESE RESTAURANT  01-01-04  2004  M6N1B9
65010                       SUZANNA'S CAFE RESTAURANT  24-04-04  2004  M4C1J6
65038                  GOLDEN GARDEN BAR & RESTAURANT  01-01-04  2004  M6E1A1
65082                                     SHEMEN ZAIT  27-03-04  2004  M6A2C4
65110                                       CARIB WOK  01-01-04  2004  M1B4Y7
65132                            HARVEY'S STORE# 2459  01-01-04  2004  M5B1L2
65149                                      RED PLANET  23-03-04  2004  M4Y1C8
65335            WONG'S CHINESE FOOD & TEA RESTAURANT  15-01-04  2004  M6G3B8
65336                       CORONATION FISH AND CHIPS  07-01-04  2004  M1E3C8
65354                                 LUCKY CHINA WOK  13-04-04  2004  M4M1G3
...                                               ...       ...   ...     ...
84450                                  ARAMARK CANADA  09-12-04  2004  M4N1T7
84451                   STARBUCKS COFFEE CANADA #4585  07-12-04  2004  M3H2S1
84452                                          SUBWAY  07-12-04  2004  M2N5P8
84453                                    MIMI'S CAFFE  02-11-04  2004  M4P1E2
84454                                  RIVERDALE PERK  02-11-04  2004  M4K3C4
84455                                      JUGO JUICE  17-12-04  2004  M5B2H1
84456                   EL RINCON MEXICANO RESTAURANT  22-11-04  2004  M6C1A7
84457                       AROMA FINE INDIAN CUISINE  22-11-04  2004  M5V1J5
84458                      NEW FLOWER DRUM RESTAURANT  02-12-04  2004  M8V1C4
84461                                           PANDA  30-11-04  2004  M1B4Y7
84462                                        ELGREEKO  09-12-04  2004  M3N3A1
84467                          TIMOTHY'S WORLD COFFEE  03-12-04  2004  M5H3S5
84468                                  ARAMARK CANADA  06-12-04  2004  M3N1W7
84469                                  ARAMARK CANADA  06-12-04  2004  M1G3M3
84470                                  ARAMARK CANADA  06-12-04  2004  M6L1L7
84471                                  ARAMARK CANADA  06-12-04  2004  M3M1S5
84472                                  ARAMARK CANADA  06-12-04  2004  M1M3N8
84474                                  ARAMARK CANADA  06-12-04  2004  M1C3E7
84475                                  ARAMARK CANADA  06-12-04  2004  M5M4K1
84476                                  ARAMARK CANADA  06-12-04  2004  M3M1H5
84477                                  ARAMARK CANADA  06-12-04  2004  M1K5A7
84478                                  ARAMARK CANADA  06-12-04  2004  M1L1Z8
84479                                  ARAMARK CANADA  06-12-04  2004  M1H2A2
84480                                  ARAMARK CANADA  06-12-04  2004  M1M1V3
84481                                  ARAMARK CANADA  06-12-04  2004  M1W2K1
84482                                  ARAMARK CANADA  06-12-04  2004  M1E1P5
84483                                  ARAMARK CANADA  06-12-04  2004  M9M2V9
84484                                  ARAMARK CANADA  06-12-04  2004  M3H5R2
84491                             ESTONIAN HOUSE CAFE  15-12-04  2004  M4K2R6
84495                              THE CROISSANT TREE  30-12-04  2004  M4Y2G1

      area
64596  M4G
64669  M1P
64754  M1P
64790  M4X
64791  M6P
64805  M4L
64811  M8V
64822  M1G
64827  M5V
64851  M5T
64857  M6P
64871  M6S
64872  M1K
64899  M6E
64901  M6J
64930  M1E
64938  M4M
64965  M1S
64975  M6H
64983  M5T
64994  M6N
65010  M4C
65038  M6E
65082  M6A
65110  M1B
65132  M5B
65149  M4Y
65335  M6G
65336  M1E
65354  M4M
...    ...
84450  M4N
84451  M3H
84452  M2N
84453  M4P
84454  M4K
84455  M5B
84456  M6C
84457  M5V
84458  M8V
84461  M1B
84462  M3N
84467  M5H
84468  M3N
84469  M1G
84470  M6L
84471  M3M
84472  M1M
84474  M1C
84475  M5M
84476  M3M
84477  M1K
84478  M1L
84479  M1H
84480  M1M
84481  M1W
84482  M1E
84483  M9M
84484  M3H
84491  M4K
84495  M4Y

[1950 rows x 5 columns]

In [46]:
# in this part we read the ontario csv to lookup coordinates
onp = pd.read_table('ontario.csv', sep=',') 
print onp.shape

def getpostalcoordinates (code):
    postal = onp[onp['postal']==code]
    return postal

def coord(x) :
    c = getpostalcoordinates(x)
    if c is None :
        return 0,0
    if c.empty:
        return 0,0
    return c.iloc[0]['lat'],c.iloc[0]['lng']

temp= coord('M6G1K7')
print temp

# here we build a list of all zip codes in a list
def getweighted(dataset) :
    target = dataset
    areadict = defaultdict(int)
    for c in dataset['area'] :   
        areadict[c]+=1
    f = lambda x : areadict[x]
    target['w'] = target['area'].map(f)
    target['lat'],target['lng']= zip(*target['postal'].map(coord))
    return target
testw = getweighted(rest2000)

(313072, 7)
(43.664636000000002, -79.414206000000007)

In [41]:
print testw

                                Operating Name    Issued  year  postal area  \
80795                                 GEORGE'S  06-02-14  2014  M6E1A1  M6E
81015  ROCHA AND DIAS BAKERY AND CHURRASQUEIRA  06-02-14  2014  M6E2V8  M6E
81043                           LICKEN CHICKEN  10-04-14  2014  M4H1P9  M4H
81048                            DIM SUM HOUSE  13-02-14  2014  M1V5N1  M1V
81169            HOT WINGS GRILL AND RIB HOUSE  03-01-14  2014  M5V2B6  M5V
81208                              AMPM COFFEE  29-04-14  2014  M5J2T5  M5J
81268                          PORTA NOVA CAFE  06-02-14  2014  M6H2C1  M6H
81309                     GOOD TIMES BAD TIMES  08-04-14  2014  M6P3L4  M6P
81310           UNITED COFFEE AND ESPRESSO INC  22-04-14  2014  M6G3T2  M6G
81405                        NEW AKASH TAKEOUT  31-01-14  2014  M1W2L1  M1W
81428                          GRINDERTOGO.COM  15-01-14  2014  M4M1Z6  M4M
81435                     JETSUN'S JUICYBURGER  25-02-14  2014  M2N5P5  M2N
81539                                  70 DOWN  07-03-14  2014  M5R1B9  M5R
81566                                SICAN LTD  14-01-14  2014  M3B3M1  M3B
81586                  THE PURSUIT OF FROSTING  14-07-14  2014  M6C2B6  M6C
81587             TORONTO RED ONION RESTAURANT  25-03-14  2014  M5T2G3  M5T
81594                                  LA ISLA  30-06-14  2014  M6A2C7  M6A
81664                         NEW REGAL GARDEN  22-01-14  2014  M6G1L1  M6G
81679                       THAI TO GO COXWELL  08-04-14  2014  M4C3G4  M4C
81684                          B KOREAN B.B.Q.  05-03-14  2014  M5T1G9  M5T
81711                               RED PARROT  19-02-14  2014  M6H3Y9  M6H
81729                   THAI DELITE RESTAURANT  03-03-14  2014  M8Y1J3  M8Y
81739                   RICKY RICARDO'S & RYZE  11-03-14  2014  M5T1T1  M5T
81740              BIKKURI JAPANESE RESTAURANT  12-03-14  2014  M5T1S8  M5T
81757                            FANTAXIA CAFE  03-01-14  2014  M2H3N3  M2H
81763                       D LICENSE TO GRILL  17-04-14  2014  M4L1Z8  M4L
81777                               TOP SAIGON  13-08-14  2014  M2H1T1  M2H
81783               SPICE HOUSE INDIAN CUISINE  02-01-14  2014  M4X1P9  M4X
81825                    709 GREEK COFFEE SHOP  06-06-14  2014  M4J1L2  M4J
81833                             YORK BURGERS  02-07-14  2014  M6M2R3  M6M
...                                        ...       ...   ...     ...  ...
90122                            SUBWAY #41975  18-12-14  2014  M5A1S8  M5A
90124                               MANCHU WOK  18-12-14  2014  M3L1B2  M3L
90125                              PIZZA PIZZA  18-12-14  2014  M6G1B5  M6G
90126                         NEW SUSHI ISLAND  18-12-14  2014  M6G1B2  M6G
90127                 QUEEN'S ROLLS RESTAURANT  18-12-14  2014  M8X1E7  M8X
90128                        TIM HORTONS #5559  18-12-14  2014  M4Y3A6  M4Y
90129                        TIM HORTONS #5555  18-12-14  2014  M4Y1Z9  M4Y
90131                           BURRITO PLANET  18-12-14  2014  M5T1P7  M5T
90132                           BIGMAN'S PIZZA  19-12-14  2014  M4G3B6  M4G
90133                               LOVING HUT  19-12-14  2014  M5V2L4  M5V
90134                 BOCCONCINI PIZZA & WINGS  19-12-14  2014  M5B1G7  M5B
90135                        MICHEL'S BAGUETTE  19-12-14  2014  M5L1G5  M5L
90136                               LA CARNITA  19-12-14  2014  M4M1H4  M4M
90137                   LOUIS CIFER BREW WORKS  19-12-14  2014  M4K1P1  M4K
90138                                PIZZA HUT  19-12-14  2014  M5V2T3  M5V
90139                                PIZZA HUT  19-12-14  2014  M5E1R8  M5E
90140                     DANFORTH PIZZA HOUSE  22-12-14  2014  M4J1L9  M4J
90141                 MIRAGE NOODLE RESTAURANT  22-12-14  2014  M1S4T5  M1S
90142                                CAFFE IBO  22-12-14  2014  M4J1N3  M4J
90144                            LUCKY BASTARD  23-12-14  2014  M6G1B4  M6G
90145                  BAM! BREAKFAST & BISTRO  23-12-14  2014  M4L1H8  M4L
90146                                TACORRITO  23-12-14  2014  M5A1P9  M5A
90147                                    CIRTA  23-12-14  2014  M5G1M5  M5G
90148                         ALTON RESTAURANT  24-12-14  2014  M1V3Z4  M1V
90149                        HAWAII RESTAURANT  24-12-14  2014  M6H2X6  M6H
90150          HUNTER'S PIZZA & SOUVLAKI HOUSE  24-12-14  2014  M1T2M5  M1T
90151                                  LA PREP  24-12-14  2014  M5C2W5  M5C
90152                                 BERKLEYS  29-12-14  2014  M5A4J6  M5A
90153                        GREECE RESTAURANT  29-12-14  2014  M4S2M9  M4S
90154         LAWRENCE PARK RESTAURANT AND BAR  31-12-14  2014  M9N3V3  M9N

        w        lat        lng
80795  27  43.679671 -79.436361
81015  27  43.685834 -79.437997
81043   5  43.704220 -79.350663
81048  43  43.818529 -79.297535
81169  63  43.647689 -79.400639
81208  18  43.640242 -79.378386
81268  37  43.669998 -79.435955
81309  26  43.657108 -79.447723
81310  55  43.655331 -79.422791
81405  10  43.798993 -79.313213
81428  32  43.668858 -79.337077
81435  44  43.769275 -79.415795
81539  22  43.670865 -79.388909
81566  11  43.750740 -79.347511
81586  19  43.703181 -79.415698
81587  58  43.655354 -79.398629
81594  14  43.729609 -79.431988
81664  55  43.663418 -79.418598
81679  23  43.696472 -79.328726
81684  58  43.653484 -79.396904
81711  37  43.659435 -79.442842
81729   9  43.630356 -79.485588
81739  58  43.656501 -79.406920
81740  58  43.657041 -79.406085
81757  13  43.791408 -79.353630
81763  22  43.672575 -79.321634
81777  13  43.791105 -79.367081
81783   3  43.667879 -79.369156
81825  29  43.679209 -79.342225
81833  13  43.705357 -79.471207
...    ..        ...        ...
90122  37  43.655567 -79.365122
90124   4  43.720832 -79.512524
90125  55  43.654957 -79.414588
90126  55  43.655459 -79.411965
90127   4  43.645118 -79.521365
90128  33  43.662627 -79.383374
90129  33  43.668085 -79.385626
90131  58  43.658843 -79.394042
90132  10  43.704645 -79.374931
90133  63  43.655669 -79.399418
90134  26  43.659516 -79.380566
90135   1  43.696023 -79.430598
90136  32  43.659454 -79.347782
90137  29  43.677508 -79.350852
90138  63  43.643917 -79.404213
90139  16  43.651611 -79.380308
90140  29  43.679246 -79.344268
90141  20  43.799023 -79.317171
90142  29  43.682468 -79.327019
90144  55  43.655480 -79.413060
90145  22  43.668320 -79.308981
90146  37  43.651612 -79.378645
90147  30  43.656082 -79.383901
90148  43  43.825691 -79.278124
90149  37  43.666058 -79.431047
90150  12  43.788794 -79.302026
90151  13  43.650613 -79.369162
90152  37  43.647422 -79.373392
90153  14  43.703308 -79.388197
90154  16  43.700058 -79.510475

[1519 rows x 8 columns]

In [42]:
testw1=testw[testw['lat']==0]
print testw1

                   Operating Name    Issued  year  postal area   w  lat  lng
89466       FRESH START COFFEE CO  24-06-14  2014  M5E2K4  M5E  16    0    0
90049      CHIPOTLE MEXICAN GRILL  28-11-14  2014  M6N0A3  M6N  24    0    0
90086  LEFT BANK GRILL & WINE BAR  09-12-14  2014  M4M4A5  M4M  32    0    0

In [43]:
testw=testw[testw['lat']!=0]
testw= testw[['lat','lng','w']]
heatmapdata= testw.to_records(index=False)

In [44]:
import gmaps
print heatmapdata[:5]
m = gmaps.heatmap(heatmapdata, max_intensity=10, point_radius=5)
gmaps.display(m)

[(43.679671, -79.436361, 27) (43.685834, -79.437997, 27)
 (43.70422, -79.350663, 5) (43.818529, -79.297535, 43)
 (43.647689, -79.400639, 63)]