In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA
from pandas import DataFrame, Series
import re # regular expressions
#adding graphics
import matplotlib.pyplot as plt
%pylab inline
from pylab import rcParams
from collections import defaultdict
from collections import OrderedDict as od
rcParams['figure.figsize'] = 18, 6
print 'test'

Populating the interactive namespace from numpy and matplotlib
test

In [2]:
#all_df = pd.read_table('balances.csv', sep=',',index_col='Ref_Date') 
all_lic = pd.read_table('business.licences.csv', sep=',') 

#fix the dates
def addyear(x):
    ystr = x[6]+x[7]
    if (ystr>'18') :
        ystr = '19'+ystr
    else :
        ystr = '20'+ystr
    return ystr

def getpostal(postal) :
    return postal[:3]+ postal[4:]
def getarea(po) :
    area = po[:3]
    return area
# get rid of nulls in postal codes
all_lic= all_lic[pd.notnull(all_lic['Licence Address Line 3'])]
all_lic['year']=all_lic["Issued"].map(addyear)
all_lic['postal']=all_lic['Licence Address Line 3'].map(getpostal)
all_lic['area']=all_lic['postal'].map(getarea)
#all_lic['lat']=all_lic["postal"].map(lat)
#all_lic['lng']=all_lic["postal"].map(lng)
print all_lic['postal']

0         M9L1N9
1         M1W2Z4
2         M1V2M1
3         M9W2Z2
4         M9W5E3
5         M4B1P2
6         M1L1M5
7         M1N1R3
8         M1C1L5
9         M5V3B1
10        M5V3B1
11        M1V4B5
12        M1K1E7
13        M4B1P2
14        M5A2R3
15        M5A2R3
16        M8Z1A1
17        M2M3Y2
18        M2M3Y2
19        M1H1A5
20        M1H1A5
21        M8Y1A9
22        M4B2V2
23        M9W5E3
24        M4G3V3
25        M8Y1A9
26        M1M1R4
27        M4G3V3
28        M4G3V3
29        M3K1E2
           ...
144461       M4J
144462       M6P
144463       M8Z
144464       M8Z
144465       M6K
144466       M8Z
144467       M4H
144468       M9L
144469       M3J
144470       M4K
144471       L4C
144472       M5H
144473       M8Z
144474       L5R
144475       M8Z
144476       M8Z
144477       M8Z
144478       M8Z
144479       M4L
144480       M6H
144481       M1C
144482       M3H
144483       L6B
144484       M4K
144485       M5R
144486       L9P
144487       M1G
144488       L6S
144489       V3T
144490       M4L
Name: postal, dtype: object

/Users/ahmed/anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (6,7,8,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [3]:
cat = all_lic['Category']
d = defaultdict(int)

for c in cat :   
    d[c]+=1

df = DataFrame(d.items(),columns=['category','count'])
indf = df.set_index(['category'])
print indf.shape

cat500up = indf[indf['count']>=500]
cat100_500 = indf[indf['count']>=100]
cat100_500 = cat100_500[cat100_500['count']<500]
cat100down = indf[indf['count']<100]
#print cat500up.shape
#print cat100_500.shape
#print cat100down.shape
#print 
#indf['count'].plot()
#for attrib in d:
#        print attrib
#highcat = cat500up[cat500up['count']>5000]
#highcat.plot

(82, 1)

In [5]:
#Quickly fix the dates by adding 19 and 20


def buildCategory(cat):
    cat_target= all_lic [all_lic['Category']==cat]
   
    #select the fields we want
    target=cat_target[['Operating Name','Issued','year','postal','area']]
    dest='categories/'+cat + '.csv'
    target.to_csv(dest)
    return target

In [6]:
def limit_year(dataset,start=None,end=None,year=None) :

    target = dataset
    if (start is not None):
        print " filtering for start year " + start
        target= target [target['year']>= start]
    if (end is not None) :
        print " filtering for end year " + end
        target = target[target['year']<= end]
    if (year is not None) :
        print " filtering for  year " + year
        target = target[target['year']== year]
    return target

In [7]:
rest2000 = limit_year(buildCategory(cat='EATING ESTABLISHMENT'),year='2000')
print rest2000

 filtering for  year 2000
                             Operating Name    Issued  year  postal area
58488             PEARL JAPANESE RESTAURANT  01/01/00  2000  M6G1K7  M6G
58491                HONOUR DONUTS & COFFEE  01/01/00  2000  M5T1H7  M5T
58998               DANG DE LION RESTAURANT  13/01/00  2000  M5S1Y6  M5S
59044           S & S MILK MART AND VARIETY  01/01/00  2000  M9N2R5  M9N
59045                                   NaN  01/01/00  2000  M6M3Z6  M6M
59061                         MADRAS CHALET  01/01/00  2000  M4L1Z7  M4L
59078                           UMUT COFFEE  01/01/00  2000  M6N1H9  M6N
59131                       ZIZI ON COLLEGE  21/02/00  2000  M6G1B3  M6G
59141                   PIZZA CORNER BAKERY  01/01/00  2000  M4B1A9  M4B
59156                            PIZZA EXPO  03/02/00  2000  M1T3H8  M1T
59179        YOKODUNA JAPANESE NOODLE HOUSE  01/01/00  2000  M1V5B5  M1V
59180  OTAKO JAPANESE AND KOREAN RESTAURANT  26/01/00  2000  M1V3Z4  M1V
59186                    COFFEE TIME DONUTS  07/01/00  2000  M3J3L8  M3J
59197         MILVAN NIGHTCLUB & RESTAURANT  01/01/00  2000  M9L1Y8  M9L
59198                      GOOD FELLAS CAFE  30/03/00  2000  M4J1N2  M4J
59228         PAISANO'S PIZZA & PANINI CAFE  01/01/00  2000  M2N4X9  M2N
59243                             MR BURGER  18/01/00  2000  M1B1K1  M1B
59257                      THE BREAD BASKET  08/05/00  2000  M4Y1R4  M4Y
59261                 SWEET HOME RESTAURANT  20/03/00  2000  M4C1L7  M4C
59273                      COLLEGIATE LUNCH  01/01/00  2000  M4M1Z5  M4M
59274                         AUTO MERIDIAN  31/05/00  2000  M4C1L1  M4C
59293                       STARDUST LOUNGE  14/03/00  2000  M9W1R9  M9W
59311            PRINCE OF EGYPT RESTAURANT  17/04/00  2000  M1W2R5  M1W
59316                        PUMPERNICKEL'S  25/01/00  2000  M5J1A7  M5J
59317                          SOLY'S DINER  25/01/00  2000  M5J1A7  M5J
59338                         CAFE ISTANBUL  18/01/00  2000  M5R3J3  M5R
59385      SOUP BOWL WEST INDIAN RESTAURANT  01/01/00  2000  M3K1E1  M3K
59386  BEST COFFEE HOUSE AND FINE FOODS LTD  01/01/00  2000  M4E1H2  M4E
59401                   1216894 ONTARIO LTD  24/01/00  2000  M6E1B5  M6E
59409                    ESTRELLITA-DEL-SUR  01/01/00  2000  M9L1Y9  M9L
...                                     ...       ...   ...     ...  ...
83859                   MANDARIN RESTAURANT  02/05/00  2000  M4S2C6  M4S
83860                    TIMEHRI RESTAURANT  18/04/00  2000  M1V5J6  M1V
83861                   BUTLERS PANTRY CAFE  13/04/00  2000  M6G2L7  M6G
83862                           TIM HORTONS  24/07/00  2000  M1P5B7  M1P
83863                           TIM HORTONS  24/07/00  2000  M1H1A9  M1H
83864             THE FOXES DEN BAR & GRILL  19/04/00  2000  M5S2B1  M5S
83865                                GOJIMA  02/05/00  2000  M8X1E9  M8X
83867                         CHINA COTTAGE  27/04/00  2000  M1R4C2  M1R
83868                               HOOTERS  10/07/00  2000  M5V1P6  M5V
83869                  BOTA FOGO BAR & CAFE  20/06/00  2000  M6K1V2  M6K
83870                          MR SUBMARINE  19/05/00  2000  M6M3Z8  M6M
83871         THE DAILY PERK COFFEE COMPANY  19/06/00  2000  M4B2J1  M4B
83872                           DAIRY QUEEN  09/06/00  2000  M1P2L8  M1P
83873                GOLDEN THAI RESTAURANT  17/08/00  2000  M5C2G3  M5C
83874                       MAYA RESTAURANT  18/05/00  2000  M3K1E7  M3K
83876                           TOKYO SUSHI  18/07/00  2000  M6C2C4  M6C
83878                         SUSHI SUPREME  07/06/00  2000  M4S1Z8  M4S
83879              DAIO JAPANESE RESTAURANT  09/08/00  2000  M5B2H9  M5B
83880                          YOGI NOODLES  28/07/00  2000  M1S5B8  M1S
83881                          RETRO BURGER  06/07/00  2000  M4C1H6  M4C
83882       TOSHI SUSHI JAPANESE RESTAURANT  11/09/00  2000  M5V1M1  M5V
83883                           DAIRY QUEEN  11/07/00  2000  M6B3T1  M6B
83885                          JASON GEORGE  09/08/00  2000  M5A1E1  M5A
83886                       ZORBA THE GREEK  26/10/00  2000  M1R4B7  M1R
83887                           TIM HORTONS  15/08/00  2000  M8Z5C9  M8Z
83888                             COLLISION  14/08/00  2000  M6G1B2  M6G
83889   PAT'S HOMESTYLE JAMAICAN RESTAURANT  18/09/00  2000  M5V2B5  M5V
83892  JAPANGO SUSHI AND NOODLE RESTAURANTS  25/08/00  2000  M5G1P5  M5G
83893            JACK ASTOR'S BAR AND GRILL  31/10/00  2000  M1P2K2  M1P
83901                   JOY THAI RESTAURANT  26/10/00  2000  M4N2L1  M4N

[1307 rows x 5 columns]

In [ ]:
# in this part we read the ontario csv to lookup coordinates
onp = pd.read_table('ontario.csv', sep=',') 
print onp.shape

def getpostalcoordinates (code):
    postal = onp[onp['postal']==code]

def coord(x) :
    c = getpostalcoordinates(x)
    if c.empty:
        return 0,0
    return c.iloc[0]['lat'],c.iloc[0]['lng']

#temp= coord('M5k2j7')print temp

# here we build a list of all zip codes in a list
def getweighted(dataset) :
    target = dataset
    areadict = defaultdict(int)
    for c in dataset['area'] :   
        areadict[c]+=1
    f = lambda x : areadict[x]
    target['w'] = target['area'].map(f)
    target['lat'],target['lng']= zip(*target['postal'].map(coord))
    return target
getweighted(rest2000)